* {
	box-sizing: border-box;
}

body {
	background-color:black;
	font-family: helvetica, sans-serif;
	font-weight: lighter;
	color:white;
	margin: 0px;
	padding: 0px;
}


.systemHeader {
	/*pointer-events: none;*/
	position: relative;
	display:inline-block;
	float: left;
	top: 0;
	/*background-color: black;*/
	width: 100%;
	z-index: 100;
	border-bottom: 1px solid white;
	/*text-align: center;*/
}

h3 {
	margin:10px;
	position fixed;
	font-size: 30px;
	/*font-weight: lighter;*/
}

h2 {
	margin:10px;
	position fixed;
	font-size: 25px;
}

#newPostButton {
	padding: 0px;
  margin: 0px;
  display: inline-block;
  position:relative;
	/*position:absolute;*/
  width:75px;
	height: 10px;
	z-index: 2;
}

.postControls {
	/*pointer-events: none;*/
  position:relative;
	z-index: 10;
	font-size: 12px;
	opacity: 0.2;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	/*border:1px solid blue;*/
}

.postControls:hover {
	opacity: 1;
}

.postButtonHolder {
	border: 1px solid white;
	border-radius: 20px;
	background-color: black;
	padding: 3px 6px;
	margin: 2px 1px;
	display: inline-block;
}

.buttonDelete {
	position: relative;
	background-color: red;
	border: none;
	border-radius: 10px;
	color: white;
	padding: 3px 6px;
	margin: 3px 0px 3px 7px;
	text-align: center;
	/*text-decoration: none;*/
	display: inline-block;
	font-size: 10px;
	cursor: pointer;
	outline: 0;
}

.buttonDelete:active {
	-webkit-box-shadow: 0px 0px 9px 2px rgba(255,0,0,1);
	-moz-box-shadow: 0px 0px 9px 2px rgba(255,0,0,1);
	box-shadow: 0px 0px 9px 2px rgba(255,0,0,1);
}

.buttonAddRow{
	/*width: 62px;*/
	position: relative;
	background-color: green;
	border: none;
	border-radius: 10px;
	color: white;
	padding: 3px 6px;
	margin: 3px 7px;
	text-align: center;
	/*text-decoration: none;*/
	display: inline-block;
	font-size: 10px;
	cursor: pointer;
	outline: 0;
}

.buttonAddRow:active {
	-webkit-box-shadow: 0px 0px 9px 2px rgba(0,255,0,1);
	-moz-box-shadow: 0px 0px 9px 2px rgba(0,255,0,1);
	box-shadow: 0px 0px 9px 2px rgba(0,255,0,1);
}

.buttonPluss{
	position: relative;
	background-color: green;
	border: none;
	border-radius: 10px;
	color: white;
	padding: 3px 6px;
	margin-left: 5px;
	/*margin: 3px 7px;*/
	text-align: center;
	/*text-decoration: none;*/
	display: inline-block;
	font-size: 10px;
	cursor: pointer;
	outline: 0;
}

.buttonPluss:active {
	-webkit-box-shadow: 0px 0px 9px 2px rgba(0,255,0,1);
	-moz-box-shadow: 0px 0px 9px 2px rgba(0,255,0,1);
	box-shadow: 0px 0px 9px 2px rgba(0,255,0,1);
}

.buttonNegative{
	position: relative;
	background-color: red;
	border: none;
	border-radius: 10px;
	color: white;
	padding: 3px 6px;
	margin-left: 5px;
	text-align: center;
	display: inline-block;
	font-size: 10px;
	cursor: pointer;
	outline: 0;
}

.buttonNegative:active {
	-webkit-box-shadow: 0px 0px 9px 2px rgba(255,0,0,1);
	-moz-box-shadow: 0px 0px 9px 2px rgba(255,0,0,1);
	box-shadow: 0px 0px 9px 2px rgba(255,0,0,1);
}

.buttonColorSelector {
	/*padding-left:10px;*/
	border: 1px solid white;
	border-radius: 20px;
	background-color: transparent;
	border: none;
	/*padding: 3px 6px;*/
	/*padding: 10px;*/
	/*color:blue;*/
	font-size: 12px;
	/*width:100px;*/
	display: inline-block;
	/*display: none;*/
}

.buttonColorSelector:active {
	-webkit-box-shadow: 0px 0px 9px 2px rgba(255,0,0,1);
	-moz-box-shadow: 0px 0px 9px 2px rgba(255,0,0,1);
	box-shadow: 0px 0px 9px 2px rgba(255,0,0,1);
}

.buttonColorSelector:focus {
    outline:none;
}

.debugBox {
	position:absolute;
	width: 200%;
}

.LineHolder {
	pointer-events: none;
	position:fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	/*border: 1px solid blue;*/
}

.hidden {
	display: none;
}






.RegisterOrLogin {
	width:600px;
	height:200px;
	text-align:center;

	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	padding: 20px;
	background-color: rgba(0,0,0,.75);

	border: 1px solid white;
	border-radius: 100px;

	z-index: 10000;

	/*display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;*/
}

.registerProject {
	margin:10px;
	position fixed;
	font-size: 30px;
	font-weight: bold;
}

.StartProjectButton {


}


.buttonCloseWindow {
	position: relative;
	background-color: red;
	border: none;
	border-radius: 10px;
	color: white;
	padding: 3px 6px;
	margin: 3px 0px 3px 7px;
	text-align: center;
	display: inline-block;
	font-size: 10px;
	cursor: pointer;
	outline: 0;
	text-decoration: none;
}

.buttonCloseWindow:active {
	-webkit-box-shadow: 0px 0px 9px 2px rgba(255,0,0,1);
	-moz-box-shadow: 0px 0px 9px 2px rgba(255,0,0,1);
	box-shadow: 0px 0px 9px 2px rgba(255,0,0,1);
}






/*.RegisterOrLogin{
	width:500px;
	height:200px;
	margin:0 auto;
	text-align:center;
	top: 50%;
	margin-left: -250px;
	margin-top: -100px;
	left: 50%;
	position:absolute;
}*/

.userNameForm, .PasswordForm {
	background-color: transparent;
	color:white;
}

#enterLinks {
	position:fixed;
	right: 0;
	/*float: right;*/
	padding:10px;
	color: white;
	text-decoration: none;
	z-index: 10000;
}

/*#enterLinks {
	text-align: center;
	padding:10px;
	color: white;
	text-decoration: none;
}*/

#login {
	text-align: center;
	padding:10px;
	color: white;
	text-decoration: none;
}

#login:hover {
	color: green;
}

#register {
	text-align: center;
	padding:10px;
	color: white;
	text-decoration: none;
}

#register:hover {
	color: green;
}

#sign-out {
	position:fixed;
	right: 0;
	/*float: right;*/
	padding:10px;
	color: white;
	text-decoration: none;
	z-index: 10000;
}

#sign-out:hover {
	color: red;
}

.editElementInput {
	background-color: transparent;
	color:white;
	/*display:inline-block;*/
	/*position:absolute;*/
	width:50px
}

form {
	display: inline-block;
	/*float:left;*/
}

div.like-button {
	display: inline-block;
}
